# Think of reintroducing Perl a bit later...
# language: perl
# perl:
#   - "5.16"
#   - "5.14"
#   - "5.12"
#   - "5.10"
env:

before_install:
 - lsb_release -a
 - sudo apt-get update
install:
 - sudo apt-get install cmake
 - sudo apt-get install make
 - sudo apt-get install libtool
 - sudo apt-get install libxml2-dev
 - sudo apt-get install libjson0-dev
 - sudo apt-get install uthash-dev
 - sudo apt-get install valgrind
 - wget http://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz
 - tar -xvzf libiconv-1.14.tar.gz
 - cd libiconv-1.14
 - sudo ./configure --prefix=/usr/local/libiconv
 - sudo make
 - sudo make install
 - cd ..

language: c
compiler:
 - gcc
 - clang
script:
 - cd clib
 - sh jsonincludecheck.sh > /dev/null
 - mkdir -p build
 - cd build && cmake ..
 - make
 - make test
 - sh ../leak_check.sh ./TestSENNA
 - sh ../leak_check.sh ./TestSTOPWORDS
 - sh ../leak_check.sh ./TestSTEMMER
 - sh ../leak_check.sh ./TestNGRAMS
 - sh ../leak_check.sh ./TestPARA_DISCR
 - sh ../leak_check.sh ./TestUnicodeNormalizer
 - sh ../leak_check.sh ./TestTokenization
 - sh ../leak_check.sh ./TestCombined
 - sudo make install
